@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Saira+Condensed:wght@400;600;700&display=swap');

:root {
  --clr-body-bg: hsl(0 0% 85%);
  --clr-nav-bg: hsl(224, 30%, 45%);
  --clr-search-bg: hsl(23, 10%, 75%);
  --clr-currently-reading-bg: hsl(232, 95%, 83%);
  --clr-recently-added-bg: hsl(267, 19%, 56%);
  --clr-status-bg: hsl(244, 25%, 44%);
  --clr-font: hsl(0, 3%, 85%);
  --clr-heading-font: hsl(174, 14%, 14%);
  --clr-add-book-gradient-1: hsl(267, 33%, 39%);
  --clr-add-book-gradient-1: hsl(224, 30%, 45%);

  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --ff-josefin: 'Josefin Sans', sans-serif;
  --ff-saita: 'Saira Condensed', sans-serif;
}

/*========================================
                CSS RESET 
 ========================================*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
