@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Saira+Condensed:wght@400;600;700&display=swap');

:root {
  --clr-body-bg: hsl(0 0% 85%);
  --clr-nav-bg: hsl(224, 30%, 45%);
  --clr-search-bg: hsl(23, 10%, 75%);
  --clr-currently-reading-bg: hsl(232, 95%, 83%);
  --clr-recently-added-bg: hsl(267, 19%, 56%);
  --clr-status-bg: hsl(244, 25%, 44%);
  --clr-font: hsl(0, 3%, 85%);
  --clr-heading-font: hsl(174, 14%, 14%);
  --clr-add-book-gradient-1: hsl(267, 33%, 39%);
  --clr-add-book-gradient-2: hsl(224, 30%, 45%);

  --ff-primary: 'Saira Condensed', sans-serif;
  --ff-secondary: 'Josefin Sans', sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-100: 1rem;
  --fs-200: 1.25rem;
  --fs-300: 2rem;

  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*========================================
                Utility Class
 ========================================*/

.column-gap {
  column-gap: 2.5rem;
}
/*========================================
                CSS RESET 
 ========================================*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*========================================
                CONTAINER
 ========================================*/
.container {
  background: var(--clr-body-bg);
  height: 100vh;
  font-family: var(--ff-primary);
  display: grid;
  grid-template-columns: 1fr 7fr;
  gap: 1rem;
}

/*========================================
                NAVBAR
 ========================================*/
.navbar {
  background: var(--clr-nav-bg);
  display: grid;

  align-items: center;
}

.navbar ul li a svg {
  margin-right: 0.5em;
}
.navbar ul li a {
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
  padding: 1em 1.9em;
  border-bottom: 1px solid var(--clr-body-bg);
  border-top: 1px solid var(--clr-body-bg);
  max-width: 100%;
  font-weight: 500;
  font-size: var(--fs-100);
  transition: background 350ms ease-in-out;
}

.navbar ul li a:hover {
  background: var(--clr-status-bg);
}

/*========================================
                Main
 ========================================*/

main {
  display: grid;
  grid-template-rows: 1fr 10fr;
}
/*========================================
                HEADER
 ========================================*/
.header {
  display: grid;
  grid-template-columns: 8fr 2fr;
  align-items: center;
}
.search-bar {
  position: relative;
}
.search-bar input {
  background: var(--clr-search-bg);
  border: none;
  width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: var(--box-shadow);
}
.search-bar svg {
  color: white;
  position: absolute;
  top: 18px;
  right: 25px;
}

/*========================================
                CONTENT BODY
 ========================================*/
.content-body {
  display: grid;
  grid-template-columns: 8fr 2fr;
  gap: 20px;
}

/*************** ADD BOOK *****************/
/* .add-book {
} */

#form {
  background: linear-gradient(
    90deg,
    var(--clr-add-book-gradient-1),
    var(--clr-add-book-gradient-2)
  );
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  padding: 2em;
  box-shadow: var(--box-shadow);
}
form div {
  display: flex;
  flex-grow: 1;
  /* gap: 40px; */
}
.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.form-control label {
  color: white;
}
.form-control input {
  /* width: 550px; */
  border: none;
  padding: 1em;
  border-radius: 0.5em;
  background: hsla(0 0% 100% / 25%);
}
.form-control input::placeholder {
  color: white;
}
.genre__form-control div:first-child {
  flex-grow: 2.5;
}
.add-book__checkbox {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
input[type='checkbox'] {
  border: none;
  width: 20px;
  height: 50px;
  margin-right: 1em;
}
.add-book--btn {
  align-self: end;
  display: flex;
  border: none;
  border-radius: 15px;
  padding: 1em 2em;
  font-size: 1.2rem;
  gap: 10px;
  font-weight: 700;
  cursor: pointer;
  color: white;
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);
  background: var(--clr-recently-added-bg);
  transition: background 350ms ease-in-out;
}
.add-book--btn:hover {
  background: var(--clr-add-book-gradient-1);
}

/*************** CURRENTLY READING *****************/
.currently-reading .content {
  background: var(--clr-currently-reading-bg);
  border-radius: 15px;
  overflow: hidden;
}
.currently-reading .content .title {
  background: var(--clr-add-book-gradient-1);
  padding: 0.2em 0.5em;
  color: white;
}
.recently-add .content p,
.currently-reading .content p {
  font-size: var(--fs-200);
  padding-left: 1em;
}
.currently-reading .content p:nth-child(2),
.recently-add .content p:nth-child(2) {
  padding-top: 1em;
}

.currently-reading .content p:last-child,
.recently-add .content p:last-child {
  padding-bottom: 1em;
}

/*************** RECENTLY ADD *****************/

.recently-add div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}
.recently-add .content {
  background: var(--clr-add-book-gradient-1);
  border-radius: 15px;
  overflow: hidden;
}
.recently-add .content .title {
  background: var(--clr-currently-reading-bg);
  padding: 0.2em 0.5em;
  color: blac;
}

.recently-add .content p {
  color: var(--clr-font);
}
